<div class="container dashboard_page" id="" class="hidden-xs">
    <ul id="nav" class="col-md-12 col-sm-12 col-xs-12 hidden-xs" style="padding: 0px;">
        <li id="dashboard" class="col-xs-5ths col-sm-5ths col-md-5ths">
            <a  ui-sref="user_dashboard" class="mainhead med_12 pe_12 mal_12">Dashboard</a>
        </li>
        <li id="rooms" class="col-xs-5ths col-sm-5ths col-md-5ths">
            <a ui-sref="notification" class="mainhead med_12 pe_12 mal_12">Inbox</a>
        </li>
        <li id="yourlistings" class="col-xs-5ths col-sm-5ths col-md-5ths">
            <a ui-sref="your_listings" class=" mainhead">My Food Experience</a>
        </li>
        <li id="profile" class="col-xs-5ths col-sm-5ths col-md-5ths">
            <a ui-sref="edit_user" class="mainhead">Profile</a>
        </li>
        <li id="account" class="col-xs-5ths col-sm-5ths col-md-5ths">
            <a ui-sref="settings" class="mainhead">Account Settings</a>
        </li>
    </ul>
</div>