.DS_Store

assets/images/hosts/*
application/cache/*
application/storage/*
application/storage/sessions/*
!application/config/config.php
!application/cache/index.html
!application/cache/.htaccess
!.htaccess
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
/dist/
/user_guide/
/node_modules/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

npm-debug\.log

*.log

sftp-config\.json

application/storage/

assets/images/users/
