<div class="container container_bg_non" style="padding: 100px 0;">
    <div style="width: 100%; height: auto; display: block; padding: 15px 0;" ng-show="confirmation.loading" class="text-center">
        <img src="assets/images/loading.gif" alt="loading">
    </div>
    <img src="assets/images/top_logo(1).png" alt="Foodiiz" class="img-responsive" style="width: 150px; padding: 15px 0;display: block; margin:0 auto;">
    <div ng-if="password.confirmation == 'success'" class="col-sm-6 col-md-6 col-xs-12 col-md-offset-3 col-sm-offset-3">.

        <form class="form-horizontal" name="resetForm" id="resetForm" ng-submit="password.resetPassword();">
            <fieldset>
                <legend class="text-center">Reset your password</legend>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">New Password<b>*</b></label>
                        <input type="password" ng-change="password.checkPasswords()" name="name" id="name" ng-model="password.password" class="form-control" ng-model-options='{debounce: 300}' autocomplete="off" placeholder="New Password" required>
                        <p class="help-block alert alert-danger" ng-show="resetForm.name.$error.required && !resetForm.name.$pristine">The password is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Confirm Password<b>*</b></label>
                        <input type="password" ng-change="password.checkPasswords()" name="confirm" id="confirm" ng-model="password.confirm" class="form-control" ng-model-options='{debounce: 300}' autocomplete="off" placeholder="Confirm Password" required>
                        <p class="help-block alert alert-danger" ng-show="password.notMatch">Confirm password does not match.</p>
                    </div>
                </div>
                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="sign_gotomsg blue_home sign_in_btn col-md-12 col-sm-12 col-xs-12" ng-disabled="resetForm.$invalid || password.notMatch || password.sending">Reset Password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div ng-if="confirmation.confirmation == 'failed'" class="alert alert-danger" role="alert">.
        <h1>This link has expired or already been used.</h1>
    </div>
</div>
